/*
 * Rococo Website Stylesheet
 * Date: 2014年9月25日
 * Copyright Rococo Global Technologies Corporation 2014
 */

/* Base */

/* Header */
.navbar {
    background-color: transparent;
    border-bottom: 0;
    opacity: 0.8;
    padding-top: 10px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.navbar.navbar-small {
    background-color: #5DC963 !important;
    border-color: transparent !important;
    opacity: 1;
    margin-bottom: 0 !important;
    z-index: 1;
}

.navbar.with-background {
    background-color: #5DC963 !important;
    border-color: transparent !important;
    opacity: 1;
    margin-bottom: 0 !important;
}
    
.navbar > #navfluid {
}

.navbar .navbar-header > a.navbar-brand {
    color: #FFF;
}

.navbar .navbar-header > a.navbar-brand img.logo-icon {
    height: inherit;
    margin-top: -20px;
    padding-left: 30px;
}

.navbar ul.navbar-nav > li a,
.navbar ul.navbar-nav > li a:hover,
.navbar ul.navbar-nav > li.active a,
.navbar ul.navbar-nav > li.active a:hover {
    color: #FFF;
    font-size: 1.2em;
}

.navbar ul.navbar-nav:last-child {
    padding-right: 50px;
}

.navbar ul.navbar-nav.navbar-right:last-child {
}

.navbar ul.navbar-nav > li.active a,
.navbar ul.navbar-nav > li.active a:hover {
    background-color: transparent;
}

.navbar .navbar-header .navbar-toggle > span.icon-bar {
    background-color: #FFF;
}

.navbar .navbar-header .navbar-toggle:hover{
    border-color: #EEE;
}

.navbar .navbar-header .navbar-toggle:hover > span.icon-bar {
    background-color: #5DC963;
}

.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

/* Slider */
div.slider-row {
    margin-left: 0;
}

div#slider {
    background-color: #000;
    width: 100%;
}

.carousel-inner{
    max-height: 500px !important;
    width:100%;
}

.carousel-caption {
/*    bottom: 30%;*/
}

.carousel-caption h3 {
    font-size: 2em;
}

.carousel-caption h3,
.carousel-caption h5 {
    font-family: 'Bree Serif', serif !important;
}

.carousel-caption p {
    font-size: 1.2em;
    font-family: 'Rajdhani', sans-serif !important;
}


div.slider-row.testimonial {
    background-color: #5dc963 !important;
    width: 100%;
}

div#slider img,
div#slider video {
    margin-top: -45px;
    opacity: 0.5;
    width: 100%;
    filter: blur(1px) !important;
    -webkit-filter: blur(1px) !important;
    -moz-filter: blur(1px) !important;
    -o-filter: blur(1px) !important;
    -ms-filter: blur(1px) !important;
}

div#slider < video {
    filter: blur(2px);
    -webkit-filter: blur(2px) !important;
    -moz-filter: blur(2px) !important;
    -o-filter: blur(2px) !important;
    -ms-filter: blur(2px) !important;
}

div#slider img.profile {
    max-width: 100px;
    opacity: 1;
    filter: blur(0);
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
}

/* Services Page Slider */
div#slider div.icon img {
    margin-top: 0 !important;
    opacity: 1;
    width: 100%;
    filter: blur(0) !important;
    -webkit-filter: blur(0) !important;
    -moz-filter: blur(0) !important;
    -o-filter: blur(0) !important;
    -ms-filter: blur(0) !important;
}

div.container div#service_content div.description.service-page h2 {
    font-family: 'Bree Serif', serif;
    font-size: 3em;
    margin-top: 0;
}

div.container div#service_content div.description.service-page h4 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
}

div.container div.tools div.tool-span {
    padding-top: 20px;
    text-align: center;
}

div.container div.tools div.tool-span img {
    width: 100%;
}

/* Services */
div.container.services-container > div.row {
    margin: 0 !important;
}

div.container div#services_header {
    padding-top: 10px;
}

div.container div#service_content {
    margin-top: 20px;
}

div.container div#services_header div.col-sm-3 {
    padding-top: 20px;
    vertical-align: middle;
}

div.container div#services_header div.col-sm-3,
div.container div#services_header div.col-sm-6 {
    padding-right: 5px;
    padding-left: 5px;
}

div.container div#services_header div h1 {
    border-bottom: 2px solid #333;
    color: #5dc963;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding-bottom: 20px;
    text-align: center;
}


div.container div#service_content.row {
    padding-top: 20px;
}

div.container div.row#service_content:first-child {
    margin-top: 50px;
}

div.container div#service_content:last-child {
    padding-bottom: 70px;
}

div.container div#service_content div.service-row div.icon img.web-dev,
div.container div#service_content div.service-row div.icon img.mobile-dev,
div.container div#service_content div.service-row div.icon img.cloud-comp,
div.container div#service_content div.service-row div.icon img.on-site {
    width: 100%;
    transition: filter .5s ease-in-out;
    -moz-transition: filter .5s ease-in-out;
    -webkit-transition: -webkit-filter .5s ease-in-out;
    -o-transition: filter .5s ease-in-out;
    -ms-transition: filter .5s ease-in-out;
}

div.container div#service_content div.service-row div.icon img.web-dev:hover,
div.container div#service_content div.service-row div.icon img.mobile-dev:hover,
div.container div#service_content div.service-row div.icon img.cloud-comp:hover,
div.container div#service_content div.service-row div.icon img.on-site:hover {
    filter: contrast(90%) brightness(110%) !important;
    -webkit-filter: contrast(90%) brightness(110%) !important;
    -moz-filter: contrast(90%) brightness(110%) !important;
    -o-filter: contrast(90%) brightness(110%) !important;
    -ms-filter: contrast(90%) brightness(110%) !important;
}

div.container div#service_content div.description h2 {
    font-family: 'Bree Serif', serif;
    font-size: 2em;
    margin-top: 0;
}

div.container div#service_content div.description h4 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1em;
}

div.container div#service_content div.service-row:nth-child(2n) {
    padding-top: 40px;
}

div.container div#service_content div.service-row:nth-child(2) {
    padding-bottom: 40px;
}

button.btn.read-more {
    background-color: #5dc963 !important;
    font-size: 1.2em;
    transition: border .25s  ease-in-out, background .5s ease-in-out;
    -moz-transition: border .25s ease-in-out, background .5s ease-in-out;
    -webkit-transition: border .25s ease-in-out, background .5s ease-in-out;
}

button.btn.read-more:hover {
    background-color: #84df8a !important;
    border: 1px solid #EEE;
}

div.container div#service_content div.description h4 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1em;
}

/* Slogan */
div.slogan {
    background-color: #5dc963;
    color: #FFF;
    text-align: center;
    opacity: 0.9;
}

div.slogan span.visible-sm h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 3em;
    margin-top: 0;
    padding-top: 20px;
}

div.slogan span.visible-sm h3 {
    color: #316745;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 40px;
}

div.slogan span.visible-xs h3 {
    font-family: 'Dosis', sans-serif !important;
/*    font-size: 30px !important;*/
    font-size: 1.5em !important;
    margin-top: 0 !important;
    padding-top: 20px !important;
}
div.slogan span.visible-xs h4 {
    color: #316745;
    font-family: 'Bree Serif', serif !important;
/*    font-size: 30px !important;*/
    font-size: .8em !important;
    margin-bottom: 0 !important;
    padding-bottom: 30px !important;
}

div.slogan img.quotation,
div.slogan img.quotation-reverse {
    padding-top: 40px;
    margin-bottom: -30px;
    max-width: 50px;
}

div.slogan img.quotation-reverse {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

/* Contact */
div.contact {
    background-color: #353935;
    color: #5dc963;
    font-family: 'Dosis', sans-serif;
    min-height: 150px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center !important;
}

div.contact img.phone-icon,
div.contact img.email-icon,
div.contact img.address-icon {
    max-width: 20%;
    text-align: center;
    margin: 0 auto;
}

div.contact h1 {
    color: #FFF;
    font-family: 'Bree Serif', serif !important;
}

div.contact h1.tools {
    color: #999;
}

div.contact h3 {
    font-size: 16px;
    margin-top: 0;
}

div.contact h4 div {
    padding-top: 10px !important;
    transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    -webkit-transition: color .25s ease-in-out;
    -o-transition: color .25s ease-in-out;
    -ms-transition: color .25s ease-in-out;
}

div.contact div.col-sm-4:hover {
    color: #30b069;
}

div.contact div.contact-detail {
    font-size: 14px;
    text-align: justify;
}

div.contact div.contact-icon span.glyphicon {
    font-size: 30px !important;
}

div.contact div.contact-icon.fax,
div.contact div.contact-detail.fax {
    padding-top: 30px !important;
}

/* Footer */
div.footer {
    background-color: #2d2d2d;
    color: #888;
    font-family: 'Dosis', sans-serif;
    font-size: .7em;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center !important;
}

div.footer span.company {
    color: #30b069;
}

/* Contact Page */
div.contact-row {
    font-family: 'Dosis', sans-serif !important;
    text-align: left !important;
}

div.contact-row div.form-div {
    padding-top: 20px;
}

div.contact-row div#contact-form label {
    font-weight: 100;
}

div.contact-row div#contact-form input,
div.contact-row div#contact-form textarea {
    color: #30b069 !important;
    font-size: 1.2em
}

div.contact-row div#contact-form.submit-button {
    text-align: center !important;
}

div.contact-row div#contact-form.submit-button button {
    font-size: 1.5em;
    transition: border .25s  ease-in-out, background .5s ease-in-out;
    -moz-transition: border .25s ease-in-out, background .5s ease-in-out;
    -webkit-transition: border .25s ease-in-out, background .5s ease-in-out;
}

div.contact-row div#contact-form.submit-button button:hover {
    background-color: #84df8a !important;
    border: 1px solid #353935;
}

div#contact-video {
    background-color: #000;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-bottom: -200px;
}

div#contact-video video {
    opacity: 0.8;
    width: 100%;
    filter: blur(1px) !important;
    -webkit-filter: blur(1px) !important;
    -moz-filter: blur(1px) !important;
    -o-filter: blur(1px) !important;
    -ms-filter: blur(1px) !important;
}

/* Strenghts */

div.strength {
    color: #282828;
}

div.strength > div.row {
    margin: 0 !important;
}

div.strength  div.row h1 {
    border-bottom: 2px solid #333;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    padding-bottom: 20px;
    text-align: center;
}

div.strength div.row h2 {
    font-family: 'Bree Serif', serif !important;
    font-size: 1.6em;
}

div.strength div.row h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
}

div.strength > div.row {
    padding-top: 20px;
    padding-bottom: 20px;
}

div.strength div.strength-row div.strength-icon {
    border: 2px solid #FFF;
    border-radius: 60px;
    padding: 15px !important;
    max-width: 80px;
    margin: 0 auto;
}

div.strength div.strength-row div.strength-icon img {
    width: 100%;
}

/* About */
div.about-page {
    background-color: #353935;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    min-height: 150px;
    padding-top: 20px;
    padding-bottom: 30px;
}

div.about-page h1 {
    font-family: 'Bree Serif', serif;
    color: #30b069;
}

div.about-page span.small-device h1 {
    font-family: 'Bree Serif', serif;
    font-size: 1.2em;
    color: #30b069;
}

div.about-page p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}

div.about-page span.small-device p {
    font-family: 'Rajdhani', sans-serif;
    font-size: .6em;
    font-weight: 400;
}

div.about-page div#video-container {
    background-color: #000;
    height: 75%;
}

div.about-page video {
    width: 100%;
}
